extends ./layout.jade
include ./mixins.jade

block vars
    - var title= 'Prismic Starter'
    - var bodyclass= 'front-page'

block body
    .blog-header(style=category.getImageView('category.illustration', 'main') ? "background-image: url(#{category.getImageView('category.illustration', 'main').url})" : "")
        .container
            h1.blog-title #{category.getText('category.name')}

    .container.blog-main
        each post in docs.results
            +blogpost(post)
        else
            | Sorry, no posts matched your criteria.

        if docs.prev_page
            a(href='/category/#{category.uid}?page=#{docs.page - 1}') « Previous Page

        if docs.next_page
            a(href='/category/#{category.uid}?page=#{docs.page + 1}') Next Page »

