<% layout('layout') -%>

<div class="blog-header" style="background-image: url(<?= post_thumbnail_url() ?>)">
    <div class="container">
        <h1 class="blog-title"><%- post.getText('post.title') %></h1>
    </div>
</div>

<div class="container">
    <div class="blog-main">

        <p class="blog-post-meta">
        <% if (post.getDate('post.date')) { %>
            <% var m = moment(post.getDate('post.date')) %>
            <span class="fa fa-calendar" aria-hidden="true"></span> <?= the_date_link() ?>
            <a href="/archive/<%= m.format('YYYY/MM/DD') %>"><%= m.format('MMMM D, YYYY') %></a>
        <% } %>
        <% if (post.getLink('post.author')) { %>
            <span class="fa fa-user" aria-hidden="true"></span>
            <a href = "<%= ctx.linkResolver(post.getLink('post.author')) %>"><%= post.getLink('post.author').getText('author.full_name') %></a>
        <% } %>
        <% if (post.getGroup('post.categories')) { %>
            <span class="fa fa-folder-open" aria-hidden="true"></span>
        <%- _.chain(post.getGroup('post.categories').value)
             .map(function(cat) {
                return '<a href="' + ctx.linkResolver(cat.getLink('link')) + '">' + cat.getLink('link').getText('category.name') + '</a>';
             }).value().join(", ")
        %>
        <% } %>
        <span class="fa fa-tags" aria-hidden="true"></span>
        <%- _.map(post.tags, function(tag) {
                return '<a href="/tag/' + tag + '">' + tag + '</a>';
             }).join(", ")
        %>
        </p>

        <%- post.getStructuredText('post.body').asHtml(ctx.linkResolver) %>

        <% if (previous) { %>
        &laquo; <a href="<%= ctx.linkResolver(previous) %>"><%= previous.getText('post.title') %></a>
        <% } %>

        <% if (next) { %>
        <a href="<%= ctx.linkResolver(next) %>"><%= next.getText('post.title') %></a> &raquo;
        <% } %>

    </div>
</div>

