extends ./layout.jade
include ./mixins.jade

block vars
    - var title= 'Prismic Starter'
    - var bodyclass= 'front-page'

block body

    .blog-header.home
        .container
            h1.blog-title Prismic Starter
            p.lead.blog-description Site description

    .container.blog-main

        | Query: #{q}

        each post in docs.results
            +blogpost(post)
        else
            | Sorry, no posts matched your criteria.

        if docs.prev_page
            a(href='/search?q=#{q}&page=#{docs.page - 1}') « Previous Page

        if docs.next_page
            a(href='/search?q=#{q}&page=#{docs.page + 1}') Next Page »


