<div class="search">
    <div class="search-icon">
        <i class="fa fa-search"></i>
    </div>
    <form method = "get" action = "/search" >
        <input type = "text" placeholder = "search" name = "q" >
    </form >
</div>

<div class="sidebar-section">
    <h3 class="blog-nav-item"><a href="<%- ctx.linkResolver(home) %>">Home</a></h3>
</div>

<% for(var i=0; i < pages.length; i++) { %>
<div class="sidebar-section">
    <h3><a href="<%- pages[i].doc.getLink('link').url(ctx.linkResolver) %>"><%- pages[i].doc.getText('label') %></a></h3>
    <ul>
        <% for (var j=0; j < pages[i].children.length; j++) { %>
        <% var subpage = pages[i].children[j] %>
        <li><a href="<%- subpage.getLink('link').url(ctx.linkResolver) %>"><%- subpage.getText('label') %></a></li>
        <% } %>
    </ul>
</div>
<% } %>

<div class="sidebar-section">
    <h3>Archives</h3>
    <ul>
        <?php foreach(get_calendar() as $entry) { ?>
        <li><a href="<?= $entry['link'] ?>"><?= $entry['label'] ?></a></li>
        <?php } ?>
    </ul>
</div>

